<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreationDate</key>
	<date>2021-12-09T20:25:20Z</date>
	<key>PrivateProperties</key>
	<dict>
		<key>DropboxSyncDates</key>
		<array>
			<date>2021-12-10T12:24:40Z</date>
			<string>5d2bc67c36aee005c5d90</string>
		</array>
	</dict>
</dict>
</plist>
